<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=gtpdb;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="ConfigFileFolder" value="d:\test\"/>
    <add key="OuputSQLFileFolder" value="d:\test\"/>-->
    <add key="ConfigFileFolder" value="d:\temp\JDataGenerate\"/>
    <add key="OuputSQLFileFolder" value="d:\temp\JDataGenerate\"/>
    <add key="CodeSnippet" value="D:\NetDisk\KingSoft\BI"/>
  </appSettings>
</configuration>
