<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="data source=.;initial catalog=PrivilegeDB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
    <add name="ConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.80.204)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=IIC_DC_NC;Password=iic*dctabs201b;min pool size=4;max pool size=4" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>