<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=gtpdb;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--测试数据生成工具-->
    <!--测试数据配置文件和SQL存放路径-->
    <add key="TableConfigFolder" value="d:\temp\JDataGenerate"/>
    <!--生成SQL时，数据、字符串、日期类型数据SQL格式-->
    <add key="FieldValueFormat" value="{0},'{0}',{{ts'{0}'}}"/>
    <!-- <add key="FieldValueFormat" value="{0},'{0}','{0}'"/> -->

    <!--我的代码段工具-->
    <add key="CodeSnippet" value="D:\NetDisk\BaiDu\Study\笔记"/>

    <!--Complier工具-->
    <add key="JDKPath" value="C:\Programs\Java\jdk1.6.0_24\bin"/>
    <add key="OLAPConnStr" value="provider=msolap ;Integrated Security =SSPI ;Data Source= localhost ;"/>
    <add key="OLAPConnStr_2" value="provider=msolap ;Integrated Security =SSPI ;Data Source= localhost ;Catalog =Adventure Works DW 2008;"/>
    <add key="OLAPConnStr_3" value="Provider=mondrian;Data Source=http://localhost:8080/mondrian_mssql/xmla;Initial Catalog=Foodmart1;"/>
    <add key="OLAPConnStr_4" value="Provider=mondrian;Data Source=http://192.168.132.242:8894/mondrian/xmla;"/>


    <!--系统设置-->
    <add key ="ShowInNotifyArea" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Addins"/>
    </assemblyBinding>
  </runtime>
</configuration>
