<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="mondrian"/>
    <!--<add key="ConncectionString" value="provider=msolap ;Integrated Security =SSPI ;Data Source= localhost ;Catalog =AdventureWorksDW;"/>-->
  </appSettings>
  <connectionStrings>
    <add name="msolap" connectionString="Integrated Security =SSPI ;Data Source= localhost ;Catalog =AdventureWorksDW;" providerName="msolap"/>
    <add name="mondrian" connectionString="Data Source=http://localhost:8080/mondrian_mssql/xmla" providerName="mondrian"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
