<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssql"   connectionString="server=192.168.4.32;uid=sa;password=bisa;database=GSCAP_DW_MD5" providerName="System.Data.SqlClient"/>
    <add name="oracle"   connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.194)(PORT=1521))(CONNECT_DATA=(SID=bi)));User Id=orcl;Password=orcl;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>